input{
  width: 150px;
  padding: 7px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid gray;
  border-color: #008DB9;
}
input:focus{
  outline: none;
  border-color: #d1c66f;
}
button:hover{
  animation: btn-hover 0.3s forwards;
}
button:focus{
  outline: none;
}
.btn-box{
  padding: 10px;
  font-size: 20px;
  background-color:#008DB9;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 0 10px 20px 10px;
}
.btn-plus{
  border-radius: 100%;
  border:none;
  width: 30px;
  height: 30px;
  background-color: #008DB9;
  font-size: 25px;
  color: white;
  line-height:0;
}
.btn-plus:focus{
  outline: none;
  background-color: #99d194;
}
@keyframes btn-hover{
  to{background-color: #d1c66f}
}
.close-icon{
  font-size: 20px;
  color: #008DB9;
  position: absolute;
  right: 20px;
  top: 0;
}
.close-icon:hover{
  animation: close-icon-hover 0.3s forwards;
}
.close-icon:hover + p{
  animation: close-icon-hover 0.3s forwards;
}
@keyframes close-icon-hover{
  to{color: #d65636}
}
.icon-secret{
  font-size: 30px;
  color: #92c3d6;
}
.icon-secret:hover{
  animation: icon-secret-hover 0.3s forwards;
}
.icon-secret:focus{
  color: blue;
}
@keyframes icon-secret-hover{
  to{color: white;}
}
.pop-up{
  border: 1px solid black;
  position: fixed;
  width: 300px;
  height: 300px;
  right: 10px;
  bottom: 10px;
  background-color: white;
  text-align: center;
  display: none;
  border-radius: 10px;
}
.speakers-list{
  height: 250px;
  width: 95%;
  margin: auto;
  overflow-y: auto;
  border-bottom: 2px solid #008DB9;
  position: relative;
  background-color:#e6f1f5
}
.speakers-list-queue{
  position: relative;
  border-bottom: 1px solid #008DB9;
  font-family: sans-serif;
  width: 70%;
  margin-left: 3%;
  margin-bottom: 0;
  padding: none;
  text-align: left;
}
.speakers-list-queue p{
  margin: 8px 10px;
  color: #205480;
}
.speaker-current{
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 55px;
}
.speaker-next{
  font-family: "Montserrat", sans-serif;
  font-weigth: normal;
  color: gray;
}
#master-list-container{
  border: 1px solid black;
  height: 60%;
  margin: 20px;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 16px;
  padding: 6px;
  overflow-y: auto;
}
[contentEditable]:focus{
  outline: none;
}
